body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toolButton, .pictureCarousel, .listingImage, .searchBar, .inputForm, .imageLoader, .profileBottomRow, .listingDetailBody, .detailsCard {
  display: flex;
  justify-content: center;

}
.openToolbarButtons, .listingRow {
  display: flex;
  justify-content: space-evenly;
}
.profileTopRow {
  display: flex;
  justify-content: space-around;
}
.listingBody {
  display: flex;
  flex-wrap: wrap;
}
.listingText {
  
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
 
}

.myListingTable {
  overflow-y: scroll;
}
img {
  max-height: 600px;
  max-width: 600px;
  width: auto;
  height: auto;
}